.App{
  background: linear-gradient(45deg, #ffffff, #19A7CE);
}
.color-nav {
  background: linear-gradient(45deg, #ffffff, #19A7CE);
}
.color-foot{
  background: linear-gradient(135deg, #ffffff, #8bd9ee);
}